<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" /> 
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
  </head>

  <body>
    <h1><%= message %></h1>
    <div id="mainContainer">
      <div id="content">
        <video id="contentElement" controls="controls">
          <source src="images/takingTheHobbits.mp4"  type="video/mp4"></source>
          <source src="images/takingTheHobbits.webm"  type="video/webm"></source>
        </video>
      </div>
      <div id="adContainer"></div>
    </div>
    <button id="playButtonSkip" class="playButton">Play Skippable</button>
    <button id="playButtonAdPod" class="playButton">Ad Pod</button>
    <script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3.js"></script>
    <script type="text/javascript" src="javascripts/ads.js"></script>
  </body>
</html>